<section class="situation">
  <header>
    <h1>{{title}}</h1>

    <ul class="contributors">
      {{#each contributor in contributors}}
      <li>{{contributor}}</li>
      {{/each}}
    </ul>
    <p class="summary">
      {{summary}}
    </p>
  </header>
</section>