tr:not(:last-of-type) {
  border-bottom: 1px solid #bbb;
}

td {
  vertical-align: top;
  padding: 0.5em 0;
}

.app {
  width: 45em;
  margin: 0 auto;
}

header.app h1 {
  font-family: georgia;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  font-size: 1.5em;
}

header.app h1 a {
  text-decoration: none;
  color: #000;
}

.situation {
  position: relative;
}

.situation header {
  border-bottom: 3px double #bbb;
}

.contributors {
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.contributors li {
  display: inline;
}

.contributors li:not(last-child):after {
  content: ",";
}

.citations {
  position: absolute;
  left: 0;
  margin-left: 45em;
  padding-left: 1em;
  width: 15em;
  opacity: 0.2;
}

.text:hover .citations {
  opacity: 1;
}

.citations cite {
  display: block;
  font-size: 0.8em;
}